@*A1数据回写 ---录入表样式按照默认方式一行两列生成，未设计表单样式 PC端编辑页面 - 列表新增数据或编辑按钮打开此页面*@
@*Think9企业级开发工具 http://yourslc.top Create:admin 2024-09-24 13:29:44 添加或编辑-此文件放置于Views/A1DataWriteBack /中*@

@using Think9.Models;
@{ ViewBag.Title = "Form";
	Layout = "~/Areas/Shared/_LayuiForm.cshtml"; }

<form class="layui-form layui-form-pane" lay-filter="formUser">
<input style="display:none" id="_isDebug" value="debug">@*debug为调试；release为发布*@
<input style="display:none" id="_upFields" value="@ViewBag.UpFields">@*可编辑字段*@
<input style="display:none" id="_hiddenFields" value="@ViewBag.HiddenFields">@*保密字段*@
<input style="display:none" id="_isMobile" value="n">@*y为移动端*@
<input style="display:none" id="_disableStr" value="@ViewBag.DisableStr">@*禁用控件字符，格式[controlid1],备用*@
<input style="display:none" id="_listid" value="@ViewBag.ListId">@*数据主键，添加时为0*@
<input style="display:none" id="_plit" value="@ViewBag.Split">@*多选框字符分割*@
<input style="display:none" id="_frm" value="@ViewBag.Frm">@*从哪里跳转来的?默认list*@
<input style="display:none" id="_type" value="@ViewBag.Type">@*add或edit*@
<input style="display:none" id="_userid" value="@ViewBag.UserId">@*用户id*@
<input style="display:none" id="_attachmentId">@*附件id*@
<input style="display:none" id="_fwid" value="@ViewBag.FId">@*当前流程编码*@
<input style="display:none" id="prc_id" value="@ViewBag.PrcId">@*当前流程步骤id*@
<input style="display:none" id="prc_no" value="@ViewBag.PrcNo">@*当前流程步骤编码*@
@*弹出选择时页面间传递数据*@
<input style="display:none" id="pu_value">@*弹出选择时使用-弹出页面选择的值*@
<input style="display:none" id="pu_tbid">@*弹出选择时使用-触发弹出页面的表id，_main或子表编码*@
<input style="display:none" id="pu_indexid">@*弹出选择时使用-触发弹出页面的指标编码(子表弹出时为子表编码+指标编码)*@
<input style="display:none" id="pu_rowid">@*弹出选择时使用-子表弹出，对应tableid 哪一行*@
<input style="display:none" id="pu_column">@*弹出选择时使用-子表弹出，第几列*@
<div class="layui-form">
 <div class="layui-form-item"  style="text-align: right;">
	<div class="layui-btn-container">
			@*<a href="" target="_blank" id="print" class="layui-btn">打印</a>*@
			<button type="button" class="layui-btn" id="att">附件</button>
			<button type="button" class="layui-btn" lay-submit lay-filter="edit" id="edit">保存</button>
			@*<button type="button" class="layui-btn" lay-submit lay-filter="next"  id="next">转交</button>*@
			<button type="button" class="layui-btn" lay-submit lay-filter="finish" id="finish">提交</button>
	 </div>
  </div>

	<div class="layui-form layui-row layui-col-space10">
		<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
			<label class="layui-form-label">编码</label>
			<div class="layui-input-block">
				<input type='text' name='inCoding' id='inCoding' autocomplete='off' class='layui-input'  maxlength='100'     placeholder='编码'>
				<span style='position: absolute;bottom: 10px; right: 5px;'><a href='javascript:;' id='select_inCoding'><i class='fa fa-check-circle' style='color:#d2d2d2;' lay-tips='点击选择'></i></a></span>
			</div>
		</div>
		<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
			<label class="layui-form-label">名称</label>
			<div class="layui-input-block">
				<input type='text' name='inName' id='inName' autocomplete='off' class='layui-input'  maxlength='100'     placeholder='名称'>
			</div>
		</div>
	 </div>
	<div class="layui-form layui-row layui-col-space10">
		<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
			<label class="layui-form-label">数量</label>
			<div class="layui-input-block">
				<input type='text' name='inQuantity' id='inQuantity' autocomplete='off' class='layui-input'   maxlength='15'    lay-verify='number'  placeholder='数量'>
			</div>
		</div>
		<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
			<label class="layui-form-label">上报日期</label>
			<div class="layui-input-block">
				<input name='inReportDate' id='inReportDate'  class='layui-input' autocomplete='off' onClick="WdatePicker({ el: this,dateFmt: 'yyyy-MM-dd'})" placeholder='上报日期'   lay-verify='date' >
			</div>
		</div>
	 </div>
	<div class="layui-form layui-row layui-col-space10">
		<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
			<label class="layui-form-label">填报人</label>
			<div class="layui-input-block">
				<input type='text' name='inApplicant' id='inApplicant' autocomplete='off' class='layui-input'  maxlength='30'     placeholder='填报人'>
			</div>
		</div>
		<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block">
				<input type='text' name='inRemarks' id='inRemarks' autocomplete='off' class='layui-input'  maxlength='200'     placeholder='备注'>
			</div>
		</div>
	 </div>
</div>


</form>
<script>
	layui.config({
		base: '/Self_JS/'  /*自定义的js--wwwroot\Self_JS\A1DataWriteBack.js*/
	});
	layui.use(["form", "exLayer", "element", "exUtils",  "table", "tableSelect", "A1DataWriteBack"], function () {
		let form = layui.form;
		let layer = layui.layer;
		let table = layui.table;
		let exLayer = layui.exLayer;
		let exUtils = layui.exUtils;
		let element = layui.element;
		let tableSelect = layui.tableSelect;
		let myJS = layui.A1DataWriteBack;
		let $ = layui.$;

		form.render();//更新全部表单数据
		formValExa();//控件赋值-复选框和图片

		//Tab选项
		element.on('tab(element_Filter)', function (data) {
        });
		//赋值--不包括多选框和图片
		form.val("formUser", {
			"inCoding": "@Model.inCoding"
			,"inName": "@Model.inName"
			,"inQuantity": "@Model.inQuantity"
			,"inReportDate": showDate("@Model.inReportDate")
			,"inApplicant": "@Model.inApplicant"
			,"inRemarks": "@Model.inRemarks"
		});
		//控件赋值，用于多选框和图片的显示
		function formValExa() {


		}
		//弹出选择，子页面关闭时调用父页面函数$("#pu_value").click()，完成控件赋值和执行数据读取
		$('#inCoding').on('click', function () {
			exLayer.open('选择编码', '/_TB/PopUpPage?tbid=_main&indexid=inCoding&id=_n&from=add' + "&fwid=" + $("#_fwid").val(), '100%', '100%', '0px', '0px', null, null);
		});
		$('#select_inCoding').on('click', function () {
			exLayer.open('选择编码', '/_TB/PopUpPage?tbid=_main&indexid=inCoding&id=_n&from=add' + "&fwid=" + $("#_fwid").val(), '100%', '100%', '0px', '0px', null, null);
		});
		//页面内打开(非弹出选择)
		tableSelect.render({
			elem: '#inCoding',//定义输入框input对象 必填
			checkedKey: 'Value',//表格的唯一建值，影响到选中状态 必填
			searchKey: 'keyword',//搜索输入框的id值
			searchPlaceholder: '关键词搜索',//搜索输入框的提示文字
			table: {
				url: '/_TB/GetPopUpPageList?type=1&tbid=_main&indexid=inCoding&id=_n&from=add&fwid=' + $("#_fwid").val(),
				limits: [10, 50, 100],
				limit: 10,
				page: true,
				method: "POST",
				cols: [[
					{ type: 'radio' }
					,{ type: 'numbers', title: 'NO.' }
					,{ field: "Value", hide: true  }
					,{ field: "info1", title: "编码", width: null }//可修改，如width: 100
					,{ field: "info2", title: "名称", width: null }//可修改，如width: 100
					,{ field: "info3", title: "规格型号", width: null }//可修改，如width: 100
					,{ field: "info4", title: "单位", width: null }//可修改，如width: 100
					,{ field: "info5", title: "类别", width: null }//可修改，如width: 100
					,{ field: "info6", title: "createTime", width: null }//可修改，如width: 100
				]]
			},
			done: function (elem, data) {
				if (data.data[0] != null) {
					$('#inCoding').val(data.data[0].Value);
					readValue('_main', 'inCoding', '_n', $('#inCoding').val());//执行数据读取1
				}
			}
		})




		//附件上传
		$('#att').on('click', function () {
			exLayer.open('附件上传', '/Com/FileManage/Attachment?fwid=' + $('#_fwid').val() + '&listid=' + $('#_listid').val() + '&prcid=' + $('#prc_id').val() + '&userid=' + $('#_userid').val() + '&attid=' + $('#_attachmentId').val(), '100%', '100%', '0px', '0px', null, null);
		});
		//点击保存按钮 发布模式调用_TB/SaveData，调试模式调用A1DataWriteBack/SaveData
		form.on("submit(edit)", function (data) {
			var _gridList = myJS.foreachGridTable();//遍历子表取数，在自定义js中定义，无子表返回空
			exUtils.ajax('/_TB/SaveData', 'post', {
				model: data.field, 'gridlist': _gridList, listid: $('#_listid').val(), prcno: $('#prc_no').val(), type: $('#_type').val(), att: $('#_attachmentId').val(), fwid: $('#_fwid').val(), json: JSON.stringify(data.field, null, 4) }, true).done(function (response) {
				exLayer.greenTickMsg(response.message, function () {
				if ($('#_frm').val() == 'list') {
					//从List页面跳转需刷新列表
					$(window.parent.document).find('#search').click();
				}
				parent.layer.close(parent.layer.getFrameIndex(window.name));
			});
		}).fail(function (error) {
			console.log(error);
		});
			return false;
		});
		//点击结束|提交按钮 发布模式调用_TB/Finish，调试模式调用A1DataWriteBack/Finish
		form.on("submit(finish)", function (data) {
			exLayer.confirm('数据将被锁定，您确定继续吗?', function () {
				var _gridList = myJS.foreachGridTable();//遍历子表取数，在自定义js中定义，无子表返回空
				exUtils.ajax('/_TB/Finish', 'post', {
					model: data.field, 'gridlist': _gridList, listid: $('#_listid').val(), prcno: $('#prc_no').val(), type: $('#_type').val(), att: $('#_attachmentId').val(), fwid: $('#_fwid').val(), json: JSON.stringify(data.field, null, 4) }, true).done(function (response) {
					exLayer.greenTickMsg(response.message, function () {
					if ($('#_frm').val() == 'list') {
						//从List页面跳转需刷新列表
						$(window.parent.document).find('#search').click();
					}
					parent.layer.close(parent.layer.getFrameIndex(window.name));
				});
			}).fail(function (error) {
				console.log(error);
			});
			return false;
			})
		});

		//子表刷新
		function tableRender(tbid) {
			//什么也不做,因为无子表，但得有--readValue函数中需要调用
		}


		//弹出页面关闭时为父页面控件赋值并执行数据读取，在弹出的子页面中被调用
		$("#pu_value").click(function () {
		    //弹出页面关闭时以下组件已被赋值
			var _tbid = $('#pu_tbid').val();//表id，主表为_main，子表纵列为_gridColumn
			var _indexid = $('#pu_indexid').val();//指标编码，触发弹出选择的控件id
			var _rowid = $('#pu_rowid').val();//子表数据主键
			var _value = $('#pu_value').val();//弹出页面选择的值
			var _column = $('#pu_column').val();//第几列--子表弹出时有用
			//弹出页面关闭后，选择的Value为触发弹出页面的input赋值，wwwroot\Self_JS\A1DataWriteBack.js中定义
			myJS.getValueFromPopUp(_tbid, _indexid, _rowid, _column, _value);
			//执行数据读取，每个弹出选择都调用，如果没有设置数据读取后台返回空，前端也不会执行控件赋值
			readValue(_tbid, _indexid, _rowid, _value);
		});
		//数据读取，后端返回lists，再调用myJS.setValueByList(lists)完成为控件赋值
		function readValue(_tbid, _indexid, _rowid, _value) {
		    //取子表当前行数据，wwwroot\Self_JS\A1DataWriteBack.js中定义,无子表则返回空
			var _gridList = myJS.getCurrentGridTable(_tbid, _rowid);
			//读取主表所有控件ID和Value，wwwroot\Self_JS\A1DataWriteBack.js中定义
            var _controlsList = myJS.getControlValueList();
			//后台取数据，发布模式调用_TB/AfterControlSelect，调试模式调用A1DataWriteBack/AfterControlSelect
			exUtils.ajax("/_TB/AfterControlSelect", "post", { controlslist: _controlsList, "gridlist": _gridList, id: _rowid, tbid: _tbid, indexid: _indexid, value: _value, fwid: $('#_fwid').val(), listid: $('#_listid').val() }, true).done(function (response) {
				var lists = response.list;//后台返回的数据
				var _listid = response.extra;
                var _grid = response.extra2;
				if (_listid != "") {
                    $('#_listid').val(_listid);
                }
                if (lists != null) {
				    //使用后台返回的lists，为控件赋值，wwwroot\Self_JS\A1DataWriteBack.js中定义
                    myJS.setValueByList(lists, _tbid, _rowid);
				}
				if (_grid != "") {
                    tableRender(_grid);//子表数据刷新
				}
				form.render();//更新表单数据，一定要加
			}).fail(function (error) {
				console.log(error);
			});
			return false;
		}
		//打印 发布模式调用_TB/Print，调试模式调用A1DataWriteBack/Print
        function setPrint() {
            $("#print").attr("href", "/_TB/Print?listid=" + $('#_listid').val() + "&type=pdf&fwid=" + $('#_fwid').val());
        }

        //图片预览|消息提示
        $(document).on("mouseenter", "*[lay-tips]", function () {
            var tips = $(this).data("offset") || 4;
			var type = $(this).prop('type');
			if (type == 'text') {
				var _value = $(this).val();
				if (_value != '') {
					var last4 = _value.substring(_value.length - 4).toLowerCase();
					var last5 = _value.substring(_value.length - 5).toLowerCase();
					if (last4 == '.jpg' || last4 == '.png' || last4 == '.gif' || last4 == '.bmp' || last5 == '.jpeg') {
						var src = '/UserImg/' + _value;
						var imgHtml = "<img src='" + src + "' style='width: 60px;height:60px'/>";
						layer.tips(imgHtml, this, {
							time: -1,
							tips: [tips, $(this).data("color") || '#ffffff'],
							area: ['auto', 'auto'],
						});
					}
				}
			}
			else {
				var remind = $(this).attr("lay-tips");
				layer.tips(remind, this, {
					time: -1,
					tips: [tips, $(this).data("color") || '#88858e'],
					area: ['auto', 'auto'],
				});
			}
        }).on("mouseleave", "*[lay-tips]", function () {
            layer.closeAll("tips");
        });

		$(document).ready(function () {
		    setPrint();//打印

			myJS.disableFormBtn("@ViewBag.DisableBut");//控制页面按钮状态
		    myJS.disabledControls($('#prc_no').val(), ',' + $('#_upFields').val() + ',', ';' + $('#_hiddenFields').val() + ';');//根据步骤编码或可编辑字段设置控件属性
			form.render('select');//要加上，否则下拉选择disabled设置无效
			form.render('checkbox');//
			form.render('radio');

			if (layui.device().mobile) {
				$(".layui-btn").attr("class", "layui-btn layui-btn-sm");//移动端
            }
        });
	});
</script>