@using Think9.Models;
@model Think9.Models.RuleTreeEntity
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Shared/_LayuiForm.cshtml";
}

<form class="layui-form" lay-filter="formUser">
    <input style="display:none" name="RuleId" id="RuleId" value="@ViewBag.id">
    <input style="display:none" id="ValueScope" value="@Model.ValueScope">
    <input style="display:none" id="DbID">
    <div class="layui-form-item">
        <label class="layui-form-label required">名 称</label>
        <div class="layui-input-block">
            <input type="text" name="Name" placeholder="必填 请输入名称" autocomplete="off" class="layui-input" lay-verify="required" maxlength='50'>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">数据源</label>
        <div class="layui-input-block">
            <input type="text" name="DbID_Exa" autocomplete="off" class="layui-input" lay-verify="required" readonly>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">取值数据表</label>
        <div class="layui-input-block">
            <input type="text" name="TbId_Exa" id="TbId_Exa" readonly="readonly" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">Value字段</label>
        <div class="layui-input-block">
            <select id="ValueFiled" name="ValueFiled" lay-verify="required">
                @foreach (valueTextEntity item in ((List
                <valueTextEntity>
                )ViewBag.SelectSourceList).FindAll(x => x.ClassID.Equals("valuetext")))
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            <tip>
                作为下拉框、单选按钮等组件的value值，根据Value字段前缀按层次显示数据，如3个选项Value分别为 A，A01， A011，将显示为╋选项1，---├『选项2』，------├『选项3』
            </tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">Text字段</label>
        <div class="layui-input-block">
            <select id="TxtFiled" name="TxtFiled" lay-verify="required">
                @foreach (valueTextEntity item in ((List
                <valueTextEntity>
                )ViewBag.SelectSourceList).FindAll(x => x.ClassID.Equals("valuetext")))
                {

                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            <tip>作为下拉框、单选按钮等组件的Text值</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-row">
            <div class="layui-col-md10">
                <label class="layui-form-label required">排序字段</label>
                <div class="layui-input-block">
                    <select id="OrderFiled" name="OrderFiled" lay-verify="required">
                        @foreach (valueTextEntity item in ((List
                        <valueTextEntity>
                        )ViewBag.SelectSourceList).FindAll(x => x.ClassID.Equals("order")))
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="layui-col-md2" align="left">
                <div class="layui-input-block">
                    <input type="hidden" name="OrderType" value="1">
                    <input type="checkbox" id="OrderType" name="OrderType" value="2" title="倒序">
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item" style="padding-top:10px;">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" lay-submit lay-filter="edit">编 辑</button>
        </div>
    </div>
</form>
<script>
    layui.use(["form", "exLayer", "exUtils", "layer"], function () {
        let form = layui.form;
        let exLayer = layui.exLayer;
        let exUtils = layui.exUtils;
        let tableSelect = layui.tableSelect;
        let layer = layui.layer;

        let $ = layui.$;

        form.render();

        getVal();

        form.verify({
            name: function (value, item) {
                if (!new RegExp("^[\u4e00-\u9fa5_a-zA-Z0-9]+$").test(value)) {
                    return '名称由汉字、数字、字母、下划线组成，不得包含其他字符';
                }
            }
        });

        form.val("formUser", {
            "Name": "@Model.Name",
            "DbID_Exa": "@Model.DbID_Exa",
            "TbId_Exa": "@Model.TbId_Exa",
            "TbId": "@Model.TbId",
            "ValueFiled": "@Model.ValueFiled",
            "TxtFiled": "@Model.TxtFiled",
            "OrderFiled": "@Model.OrderFiled"
        });
        function getVal() {
            if (@Model.OrderType == "2") {
                $('#OrderType').attr("checked", true);
            }
            else {
                $("#OrderType").removeAttr("checked");
            }
        }

        form.on("submit(edit)", function (data) {
            exUtils.ajax("/SysTable/RuleTree/Edit", "post", { model: data.field, id: $("#RuleId").val() }, true).done(function (response) {
                exLayer.greenTickMsg(response.message, function () {
                    $(window.parent.document).find('#search').click();
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                });
            }).fail(function (error) {
                console.log(error);
            });
            return false;
        });

        function GetSelectValueFieldByTb(id) {
            var controlid = "#ValueFiled";
            $("" + controlid + "").empty(); //清空控件
            $.getJSON("/SysTable/RuleTree/GetSelectValueFieldByTb", { id: id }, function (data) {
                $.each(data, function (i, item) {
                    $("" + controlid + "").append(new Option(item.Text, item.Value));
                });
                form.render();//不加下拉框可能不正确显示
            });
        }

    });
</script>