@{
    ViewBag.Title = "文件上传";
    Layout = "~/Areas/Shared/_LayoutFile.cshtml";
}
<style>
    span {
        word-break: normal;
        width: auto;
        display: block;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow: hidden;
    }
</style>
<input style="display:none" id="listid" value="@ViewBag.listid">
<input style="display:none" id="maintbid" value="@ViewBag.maintbid">
<input style="display:none" id="from" value="@ViewBag.from">
<input style="display:none" id="src" value="@ViewBag.src">
<input style="display:none" id="prcno" value="@ViewBag.prcno">
<input style="display:none" id="_flag" value="ceeev1">
<input style="display:none" id="pu_frm" value="@ViewBag.PuFrom">
<input style="display:none" id="pu_tbid" value="@ViewBag.PuTbId">
<input style="display:none" id="pu_indexid" value="@ViewBag.PuIndexId">
<input style="display:none" id="pu_rowid" value="@ViewBag.PuId">
<input style="display:none" id="pu_column" value="@ViewBag.PuV">
<input style="display:none" id="pu_filename" value="@ViewBag.Pufname">
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-input-block" style="text-align: center;margin-top: 20px;margin-left:-15px;">
            <button class="layui-btn" id="btn_Upload">
                <i class="layui-icon layui-icon-upload"></i>文件上传
            </button>
            <button class="layui-btn" lay-submit lay-filter="btn_OK" id="btn_OK">确 定</button>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-input-block" style="text-align: center;margin-left:0;">
            <div class="layui-upload-list">
                <a id="down" href="@ViewBag.src" target='_blank'> <i class="fa fa-cloud-download">文件下载</i></a>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-input-block" style="text-align: left;margin-left:0;margin-top: -30px;">
            <div class="layui-upload-list">
                <span class="layui-word-aux"><i class="layui-icon layui-icon-about" lay-tips="允许上传的附件类型" data-offset="4"></i>@ViewBag.FileType</span>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        layui.use(['form', 'layer', 'upload'], function () {
            let $ = layui.$;
            let upload = layui.upload;
            let layer = layui.layer;
            let form = layui.form;

            upload.render({
                elem: '#btn_Upload',
                field: 'file',
                url: '@Url.Action("FileUplaodGrid")',
                auto: true,
                exts: '@ViewBag.FileType',// 设置允许上传的格式
                choose: function (obj) {
                },
                before: function () {  //文件提交上传前的回调
                    this.data = {
                        listid: $('#listid').val(),
                        oldName: $('#filename').val(),
                        maintbid: $('#maintbid').val()
                    }
                    layer.load(2);
                },
                done: function (res) {
                    if (res.code == 0) {
                        $("#src").val(res.src);
                        $("#filename").val(res.filename);
                        $("#pu_filename").val(res.filename);

                        getVal();

                        layer.closeAll('loading');
                    } else {
                        layer.closeAll('loading');
                        layer.alert(res.msg, {
                            icon: 2
                        });
                    }
                },
                error: function () {
                    layer.alert('上传失败', {
                        icon: 2
                    });
                }
            });

            $('#btn_OK').on('click', function () {
                parent.layer.close(parent.layer.getFrameIndex(window.name));
            });

            function getVal() {
                $("#down").attr("href", $("#src").val())

                $(window.parent.document).find('#pu_value').val($('#pu_filename').val());
                $(window.parent.document).find('#pu_tbid').val($('#pu_tbid').val());
                $(window.parent.document).find('#pu_indexid').val($('#pu_indexid').val());
                $(window.parent.document).find('#pu_rowid').val($('#pu_rowid').val());
                $(window.parent.document).find('#pu_column').val($('#pu_column').val());

                $(window.parent.document).find('#pu_value').click();
            }

            //消息提示
            $(document).on("mouseenter", "*[lay-tips]", function () {
                var remind = $(this).attr("lay-tips");
                var tips = $(this).data("offset") || 4;
                var color = $(this).data("color") || '#88858e';
                layer.tips(remind, this, {
                    time: -1,
                    tips: [tips, color],
                    area: ['auto', 'auto']
                });
            }).on("mouseleave", "*[lay-tips]", function () {
                layer.closeAll("tips");
            });

            $(document).ready(function () {
                //根据字段是否可写确定按钮状态
                if ($('#btnDisabled').val() == "Y") {
                    $('#btn_Upload').attr('class', 'layui-btn layui-btn-disabled');//无上传权限
                    $('#btn_Upload').attr('disabled', 'disabled');//无上传权限
                }
            });
        });
    </script>
}